<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='utf-8'>
  <title>ur-fans!</title>
</head>
<body>
<h1>ur-fans!</h1>

<form method="post">
  <div class="form-group">
    <input type="text" id="screen_name" name="screen_name" placeholder="twitter id"/><br/>
  </div>
  <button type="submit">Analyze!</button>
</form>
<li><%= @user.screen_name %>, <%= @user.description %></li>
<ul>
  <% @users.each do |user| %>
      <li><%= user.screen_name %>, <%= user.description %></li>
  <% end %>
</ul>
</body>
</html>