<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='utf-8'>
  <title>ur-fans!</title>
</head>
<body>
<h1>ur-fans!</h1>
<ul>
  <% @followers.each do |follower| %>
      <li><%= follower.screen_name %>, <%= follower.description %></li>
  <% end %>
</ul>
</body>
</html>